<template>
  <div class="home">
    <button @click="connect">Connect to device</button>
    <button v-if="connected" @click="toggleLED">Toggle LED</button>
    <h2>LED is: {{ lightOn ? 'ON' : 'OFF'}}</h2>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'home',
  data() {
    return {
      connected: false,
      lightOn: false,
      serviceUuid: "19b10000-e8f2-537e-4f6c-d104768a1214",
      charUuid: "19b10001-e8f2-537e-4f6c-d104768a1214",
      device: '',
      server: '',
      service: '',
      characteristic: ''
    }
  },
  methods: {
    async connect() {
      // start the scanconst device = await navigator.bluetooth.requestDevice({
     this.device = await navigator.bluetooth.requestDevice({
     // filters: [...] <- Prefer filters to save energy & show relevant devices.
        acceptAllDevices: true, optionalServices: [this.serviceUuid]});

    console.log('Connecting to GATT Server...');
    this.server = await this.device.gatt.connect();

    console.log('Getting Service...');
    this.service = await this.server.getPrimaryService(this.serviceUuid);

    console.log('Getting Characteristic...');
    this.characteristic = await this.service.getCharacteristic(this.charUuid);

    if(this.characteristic) {
      this.connected = true
      let value = await this.characteristic.readValue()
      value = value.getUint8(0)
      console.log(value)
      if(value === 1){
        this.lightOn = true
      } else {
        this.lightOn = false
      }
    }

    },
    async toggleLED() {
      // toggle the LED light
      var newValue
      if(this.lightOn) {
        newValue = Uint8Array.of(0)
      } else {
        newValue = Uint8Array.of(1)
      }
      await this.characteristic.writeValue(newValue)
      let value = await this.characteristic.readValue()
      value = value.getUint8(0)
      if(value === 1){
        this.lightOn = true
      } else {
        this.lightOn = false
      }
    }
  }
}
</script>
